.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(106, 151, 57);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.left button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}
.left a svg {
  font-size: 2rem;
  color: white;
}
.right {
  display: flex;
  align-items: center;
}
.nav-links ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.2rem;
}
.nav-links ul li a {
  color: white;
}
.cart {
  font-size: 1.6rem;
  position: relative;
}
.cart a span {
  background-color: black;
  color: white;
  position: absolute;
  top: -6px;
  right: 0;
  font-size: 0.8rem;
  padding: 0rem 0.3rem;
  border-radius: 50%;
}

.bottom {
  padding: 0 2rem 1rem 2rem;
}
.search {
  display: flex;
  align-items: center;
}
.search > input {
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  padding: 0 1rem;
}
.search svg {
  background-color: white;
  height: 2rem;
  cursor: pointer;
}

@media (min-width: 721px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  nav {
    gap: 18rem;
  }
  .search > input {
    width: unset;
  }
  .bottom {
    padding: 0;
  }
}
@media (min-width: 1100px) {
  nav {
    gap: 38rem;
  }
}
