* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./assets.bb.gif");
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* svg {
  display: block;
} */

.fill {
  background-color: black;
  color: white;
}

.disable {
  display: none !important;
}
